<div class="container" ng-controller="invitationController">
	<h2>Assign an appointment</h2>
	<div class="container">
		<style>
			.form-control {
				border-width: 2px;
				border-color: grey;
			}
		</style>

		<div class="form-group">
			<label for="exampleFormControlSelect1">Select participants</label>
			<select class="form-control" id="exampleFormControlSelect1" ng-model="participant">
				<option ng-repeat="user in getAllParticipantPossibles" value='{{user[2]}}'>{{user[0]}}&nbsp;&nbsp;{{user[1]}}</option>
				</select>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-primary" ng-click="addInvitation()">Add</button>
				<!--<button type="button" class="btn btn-primary" ng-click="findInvitationByMeetingId()">FindAllInvitations</button> -->
			</div>
		</div>

		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th scope="col">Personnes invités</th>
					<th scope="col">Réponse</th>
				</tr>
			</thead>
			<tr ng-repeat = "invitation in invitations">
				<td value='{{invitation.UserName}}'>{{invitation.UserName}}</td>
				<td value='{{invitation.Status}}'>{{invitation.Status}}</td>
			</tr>
		</table>
		
		
		<input class="btn btn-primary" type="submit" ng-click="returnToMeetingList()" value="Retourner" />
	</div>
</div>
