<div ng-controller="LoginController">
	<div class="container ui-view-container">
		<h1>{{ title }}</h1>
		<form>
				<div class="form-group">
				<label for="exampleInputPassword1">Address</label>
				<input type="password" class="form-control" id="exampleInputAddress1" ng-model="address" placeholder="address">
			</div>
			<button type="submit" class="btn btn-primary" ng-click="verifiyLogin()">Submit</button>
		</form>
	</div>
	<div>
	<p>0x4db2da7660a1e2edc15cacd815c39d0574103cb3  </p>
	<p>0x013ba5d38f3a03c63909d48be7a81df2b60a61f4  </p>
	<p>0xfac6be69d005caa557b2e36c6fb41959188c438c  </p>
	<p>0x465caa1267d97ec054635704ed68102970cb6adc  </p>
	<p>0xea8328fca972e48d9bec1039400be99d4ce760be	</p>
	</div>
</div>
