<div id="meeting-content">
	<div class="meetingbox" ng-controller="createMeetingController">
		<img src="assets/avatar.png" class="avatar">
		<!-- <h1>WELCOME {{titre}}</h1> -->
		<h1> Créer un rendez-vous</h1>
		<p>Objet</p>
		<input type="text" id="des" ng-model="description" placeholder="Saisir la description">
		<p>Obligatoire ?</p>
		<select id="req" name="singleSelect" class="form-control" ng-model="selectedRequired">
			<option value="option-1">true</option>
			<option value="option-2">false</option>
		</select>
		<p>Lieu</p>
		<input id="lieu" type="text" ng-model="lieu" placeholder="Lieu">
		<p>Date</p>
		<input id="date" type="text" ng-model="date" placeholder="Date">
		<input type="submit" ng-click="createMeeting()" value="Valider">
		<input type="submit" ng-click="returnToIndex()" value="Retourner" />
	</div>
</div>
