<div id="meeting-content">
	<div class="meetingbox" ng-controller="meetingIndexController">
		<img src="assets/avatar.png" class="avatar">

		<h1>WELCOME {{titre}}</h1>

		//button create Meeting
		<form>
		<button type="submit" ng-click="searchMeeting()" value="Create Meeting">
		</form>
		//button list Meetings
		<form>
		<button type="submit" ng-click="searchMeeting()" value="List of Meetings">
		</form>
		//button list invitations
		<form>
		<button type="submit" ng-click="searchMeeting()" value="List of Invitations">
		</form>
	</div>

</div>
