<div ng-controller="myInvitationsController">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<tr>
					<th>Organizer</th><th>Description</th><th>Date</th><th>Place</th><th>Meeting Status</th><th>Accept</th><th>Refuse</th>
				</tr>
				<tr ng-repeat="inv in invitations">
					<td>{{ inv.organizer }}</td>
					<td>{{ inv.description }}</td>
					<td>{{ inv.date }}</td>
					<td>{{ inv.place }}</td>
					<td>{{ inv.status }}</td>
					<td ng-if="inv.isAccepted == 2"></td>
					<td ng-if="inv.isAccepted == 1">Accepted</td>
					<td ng-attr-id="{{ inv.id + '-accept' }}" ng-if="inv.isAccepted == 0"><button class="btn btn-success" ng-click="acceptInvitation(inv.id)">Accept</button></td>
					<td ng-if="inv.isRefused == 2"></td>
					<td ng-if="inv.isRefused == 1">Refused</td>
					<td ng-attr-id="{{ inv.id + '-refuse' }}" ng-if="inv.isRefused == 0"><button class="btn btn-danger" ng-click="refuseInvitation(inv.id)">Refuse</button></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary" ng-click="returnToIndex()">Return</button>
		</div>
	</div>
</div>
