<div ng-controller="myInvitationsController">
	<table>
		<tr>
			<th>Organizer</th><th>Description</th><th>Date</th><th>Place</th><th>Meeting Status</th><th>Accept</th><th>Refuse</th>
		</tr>
		<!-- 
		<tr ng-repeat="inv in invitations">
			<td>{{ inv.organizer }}</td>
			<td>{{ inv.description }}</td>
			<td>{{ inv.date }}</td>
			<td>{{ inv.place }}</td>
			<td>{{ inv.status }}</td>
			<td ng-if="inv.isAccepted">Accepted</td>
			<td ng-if="!inv.isAccepted"><button ng-click="acceptInvitation( {{ inv.id }} )">Accept</button></td>
			<td ng-if="inv.isRefused">Refused</td>
			<td ng-if="!inv.isRefused"><button ng-click="refuseInvitation( {{ inv.id }} )">Refuse</button></td>
		</tr> -->
	</table>
</div>
