#meeting-content {
	margin: 0;
	padding: 0;
	background: url(pcl.jpg);
	background-size:cover;
	background-position : center;
	font-family : sans-serif;
    width: 100%;
    height: 1100px;
}

.container {
	margin-top: 200px;
}

.meetingbox{
	width: 400px;
	height: 648px; /* +88 for each date div, max 1000 */
	background: #000;
	color:#fff;
	top: 80%;
	left: 50%;
	position : absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;

}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top : -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.meetingbox p{
	margin-bottom: 2px;
	padding: 0;
	font-weight: bold;
	font-style: italic;
	display: inline-block;
}

/*.meetingbox input{
}*/
.meetingbox input[type="date"]
{
	width: 100%;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color : #fff;
	font-size: 16px;
}

.meetingbox input[type="text"] 
{
	width: 100%;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color : #fff;
	font-size: 16px;
}
.meetingbox input[type = "submit"]
{
	width: 100%;
	border: none;
	outline: none;
	height: 40px;
	background : #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius : 20px;
	margin-bottom: 30px;
}

.meetingbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.inline-buttons .one-third {
    text-align: center;
}

@media only screen and (max-width: 1076px) {

    .inline-buttons .one-third {
        width: 100%;
        margin: 20px;
    }
    
}

.button {
    background-color: transparent;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding: 10px 30px 8px;
    font-size: 16px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    letter-spacing: 0.2rem;
    line-height: 1;
    text-transform: uppercase;
	align : center;
}
.button:hover{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.button-neutral{
	margin-top: 80px;
    color: #000;
    border-color: #000;
}
.button-neutral:hover{
    color: #fff;
    background-color: #000;
}

.button-primary{
    color: #23849b;
    border-color: #23849b;
}
.button-primary:hover{
    color: #fff;
    background-color: #23849b;
}
div.container{
	
	text-align: center;
}

#btn {
	border: none;
	outline: none;
	height: 40px;
	background : #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius : 20px;
}
